In [2]:
import pandas as pd

In [3]:
def read_in_chunks(file_path, sep='\t'):
    chunk_size = 1000  # adjust as needed
    chunks = pd.read_csv(file_path, sep=sep, chunksize=chunk_size)
    df = pd.concat(chunks)
    return df

In [6]:
tsv_file_paths = ['Data/name.basics.tsv', 'Data/title.akas.tsv', 
                 'Data/title.basics.tsv', 'Data/title.principals.tsv', 
                 'Data/title.ratings.tsv']
dfs = []
for file_path in tsv_file_paths:
    df = read_in_chunks(file_path)
    dfs.append(df)

In [11]:
df1 = dfs[0]
df2 = dfs[1]
df3 = dfs[2]
df4 = dfs[3]
df5 = dfs[4]

In [9]:
df6 = pd.read_json('Data/IMDB_reviews.json', lines=True)
df7 = pd.read_json('Data/IMDB_movie_details.json', lines=True)

In [13]:
df1.head(3)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"

df1 contains people who have worked on or in movies.

In [14]:
df2.head(3)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0

df2 contains movie id and different names for the same movie

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48357938 entries, 0 to 48357937
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  int64
dtypes: int64(2), object(6)
memory usage: 2.9+ GB

In [33]:
df2.replace('\\N', pd.NA, inplace=True)

In [34]:
df2.isnull().sum()

titleId                   0
ordering                  0
title                    35
region             10845929
language           15988000
types              33495041
attributes         48078607
isOriginalTitle           0
dtype: int64

In [35]:
df2.drop('attributes', axis=1, inplace=True)

In [37]:
df2.drop('ordering', axis=1, inplace=True)

In [36]:
df2['types'].unique()

array(['original', <NA>, 'imdbDisplay', 'alternative', 'festival', 'dvd',
       'working', 'tv', 'video', 'imdbDisplay\x02tv', 'alternative\x02tv',
       'imdbDisplay\x02working', 'imdbDisplay\x02festival',
       'working\x02tv', 'imdbDisplay\x02video', 'dvd\x02alternative',
       'tv\x02video', 'imdbDisplay\x02dvd', 'working\x02video',
       'working\x02festival', 'dvd\x02video', 'alternative\x02festival',
       'alternative\x02video', 'working\x02alternative'], dtype=object)

In [23]:
df3.head(3)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"

df3 is movies and their years and genres

In [38]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10790736 entries, 0 to 10790735
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 740.9+ MB

In [39]:
df3.replace('\\N', pd.NA, inplace=True)

In [40]:
df3.isnull().sum()

tconst                   0
titleType                0
primaryTitle            19
originalTitle           19
isAdult                  1
startYear          1406804
endYear           10666898
runtimeMinutes     7443113
genres              480417
dtype: int64

In [41]:
df3.drop('endYear', axis=1, inplace=True)

In [18]:
df4.head(3)

      tconst  ordering     nconst  category       job characters
0  tt0000001         1  nm1588970      self        \N   ["Self"]
1  tt0000001         2  nm0005690  director        \N         \N
2  tt0000001         3  nm0005690  producer  producer         \N

df4 is the movies and actor relationship

In [19]:
df5.head(3)

      tconst  averageRating  numVotes
0  tt0000001            5.7      2058
1  tt0000002            5.7       276
2  tt0000003            6.5      2015

df5 is avg rating and number of votes per movie

In [42]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440380 entries, 0 to 1440379
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1440380 non-null  object
 1   averageRating  1440380 non-null  float64
 2   numVotes       1440380 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 33.0+ MB

In [20]:
df6.head(3)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
0,10 February 2006,tt0111161,ur1898687,True,"In its Oscar year, Shawshank Redemption (writt...",10,A classic piece of unforgettable film-making.
1,6 September 2000,tt0111161,ur0842118,True,The Shawshank Redemption is without a doubt on...,10,Simply amazing. The best film of the 90's.
2,3 August 2001,tt0111161,ur1285640,True,I believe that this film is the best story eve...,8,The best story ever told on film

In [25]:
user_id_column = df6['user_id']
new_df = pd.DataFrame(user_id_column, columns=['user_id'])
new_df.to_csv('user_ids.csv', index=False)

In [21]:
df7.head(3)

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis
0,tt0105112,"Former CIA analyst, Jack Ryan is in England wi...",1h 57min,"[Action, Thriller]",6.9,1992-06-05,"Jack Ryan (Ford) is on a ""working vacation"" in..."
1,tt1204975,"Billy (Michael Douglas), Paddy (Robert De Niro...",1h 45min,[Comedy],6.6,2013-11-01,Four boys around the age of 10 are friends in ...
2,tt0243655,"The setting is Camp Firewood, the year 1981. I...",1h 37min,"[Comedy, Romance]",6.7,2002-04-11,

In [43]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1572 entries, 0 to 1571
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       1572 non-null   object
 1   plot_summary   1572 non-null   object
 2   duration       1572 non-null   object
 3   genre          1572 non-null   object
 4   rating         1572 non-null   float64
 5   release_date   1572 non-null   object
 6   plot_synopsis  1572 non-null   object
dtypes: float64(1), object(6)
memory usage: 98.2+ KB

## Database structure

MsSQL: User table, movies table, payment_detail table (with ids)

MongoDB: Reviews, recommendations

Neo4j: Actors relationship, users relationships

## MsSQL

Movie: id, title, alternative titles, duration, plot_Summary, genre, realease_date/start year, rating/avg_rating

User: id, username, password, email, first_name, last_name, payment_details, friends that they follow, relationship to movies and reviews,

In [53]:
!pip3 install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\users\caroline\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (5.1.0)

In [62]:
!pip install sqlalchemy pymssql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\caroline\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.0.30)
Collecting pymssql
  Downloading pymssql-2.3.0-cp312-cp312-win_amd64.whl.metadata (7.6 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\caroline\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\caroline\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (3.0.3)
Downloading pymssql-2.3.0-cp312-cp312-win_amd64.whl (2.0 MB)
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
    --------------------------------------- 0.0/2.0 MB 653.6 kB/s eta 0:00:03
   ---------------- ----------------------- 0.8/2.0 MB 8.7 MB/s eta 0:00:01
   ---------------------------------------- 2.0/2.0 MB 15.9 MB/s eta 0:00:00
Installing collected packages: pymssql
Successfully installed pymssql-2.3.0

In [69]:
from sqlalchemy import create_engine
import pandas as pd

# Define your connection string
connection_string = f'mssql+pymssql://{USER}:{PASSWORD}@{HOST}/{DB_NAME}'

# Create an SQLAlchemy engine
engine = create_engine(connection_string)

# Assuming df is your DataFrame and 'table_name' is the name of the table you want to add the data to
df.to_sql('movie_test', con=engine, if_exists='append', index=False)

OperationalError: (pymssql.exceptions.OperationalError) (20009, b'DB-Lib error message 20009, severity 9:\nUnable to connect: Adaptive Server is unavailable or does not exist (localhost)\nNet-Lib error during Unknown error (10061)\nDB-Lib error message 20009, severity 9:\nUnable to connect: Adaptive Server is unavailable or does not exist (localhost)\nNet-Lib error during Unknown error (10061)\n')
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [68]:
cursor = conn.cursor()

# SQL query to create table
create_table_query = '''
CREATE TABLE movie_test (
    movie_id VARCHAR PRIMARY KEY,
    plot_summary TEXT,
    duration TEXT,
    genre TEXT,
    rating FLOAT,
    release_date TEXT,
    plot_synopsis TEXT
);
'''

# Execute the SQL query to create the table
cursor.execute(create_table_query)

# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

ProgrammingError: Attempt to use a closed connection.